.App {
  text-align: center;
  display: flex;
  background-color: #F9EAD7;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.App h1, p {
  line-height: 10px;
}

.App hr {
  width: 60%;
  border-top: 3px dotted red;
  margin-bottom: 15px;
}